<!DOCTYPE html>
<html ng-app='videoSearch'>
<head>
	<title>Search Videos</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="nav navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class='text-center'>Search for a Movie</h1>
				</div>
			</div>
			
		</div>
	</div>
	<div class="container" ng-controller="MainController">
		<div class="row" >
			<div class="col-md-12">
				<h2>Search for a Movie</h2>
				<form ng-submit="search(query)">
					<input name="query" ng-model="query" placeholder="Search" autofocus/> 
					<input name="submit" class="btn btn-info" type="submit" value="Search" />
				</form>
			</div>
		</div>
		<div class="row" >
		
			<div class="col-md-12">
				<h2>Movie List</h2>
				<hr class="" />
			</div>			
			<div class="col-md-12 frame">
				<div class="row">
					<div class="col-md-12 well" ng-repeat="movie in movies | filter: query ">
						<!-- {{movies.length}} -->
						<p><span class="lead"><a href="{{'http://www.imdb.com/title/' + movie.imdbID }}" target="_blank">{{movie.Title}}</a></span> | <em>Year: {{movie.Year}}</em></p>
						<div class="col-md-4">
							<a href="{{'http://www.imdb.com/title/' + movie.imdbID }}" target="_blank"><img ng-src='{{movie.Poster}}' /></a>
						</div>
						<div class="col-md-6">
							<p class="lead">{{movie.Plot}}</p>
							<p>Actors: {{movie.Actors}}</p>
							<p>Genre: {{movie.Genre}}</p>
							<p>Rotten Tomatoes Score: {{movie.tomatoRating}}</p>
							<p>Director: {{movie.Director}}</p>
							<p>Writer(s): {{movie.Writer}}</p>
							<p>Runtime: {{movie.Runtime}}</p>
							<p>Website: <a href="{{movie.Website}}" target="_blank">{{movie.Website}}</a></p>
						</div>
						<div ng-show="!err">{{error}}</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="footer navbar-inverse">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h6>Copyright</h6>
				</div>
			</div>
		</div>
	</div>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>