html {
	position:relative;
	height: 100%;
}

body {
	padding-top:80px;
	margin-bottom:60px;
}
.frame {
	max-height:650px;
	overflow: auto;
}

.nav h1 {
	color:#fff;
}

.container .glyphicon {
	font-size:32px;
}

.footer {
	position: absolute;
	bottom:0;
	width:100%;
	height:60px;
	color:#fff;
}